@charset "UTF-8";

body{
    font-family: "Heiti SC", serif;
    width: 800px;
    margin: 20px auto;
    border: black 1px solid;
}

header{
    background-color: lightgreen;
    padding-top: 1px;
    text-align: center;
}


section{
    float: left;
    width: 595px;
}

footer{
    background-color: lightgreen;
    font-weight: bold;
    position:absolute;
    top: 700px;
    left: 175px;
    bottom: 0px;
    margin: 0px;
    width: 70%;
    padding: 2px;
    text-align: center;
}

article{
    margin-right: 15px;
}



p{
    padding: 3px;
}

ul#mainMenu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul#mainMenu li  {
      float: left;
  }
  
  ul#mainMenu li a  {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  ul#mainMenu li a:hover  {
    background-color: #111111;
  }