body{
    font-family: "Heiti SC", serif;
    width: 800px;
    margin: 20px auto;
    border: black 1px solid;
}

header{
    background-color: lightgreen;
}


section{
    float: left;
    width: 595px;
}

footer{
    background-color: lightgreen;
    font-weight: bold;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

article{
    margin-right: 15px;
}



p{
    padding: 3px;
}

ul#mainMenu  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  ul#mainMenu li  {
    float: left;
  }
  
  ul#mainMenu li a  {
    display: block ;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  ul#mainMenu li a:hover  {
    background-color: #111111;
  }

  article{
      padding: 1px;
      text-align: left;
      text-justify: auto;

  }