body{
    font-family: Helvetica;
    width: 800px;
    margin: 20px auto;
    border: black 1px solid;
}

header{
    background-color: lightgreen;
}

nav{
    float: left;
    width: 195px;
}

section{
    float: left;
    width: 595px;
}

footer{
    background-color: lightgreen;
    padding: 10px;
}

article{
    margin-right: 15px;
}



p{
    padding: 3px;
}

div#right_bottom{
    font-weight: bold;
    position: absolute;
    top: 710px;
    right: 50px;
    margin: 3px;
}