.content {
    width: 910px;
    margin: auto;
    margin-top: 160px;
}

.content h1 {
    text-align: center;
    font-size: 45px;
    height: 50px;
}

#description {
    font-size: 22px;
    height: 120px;
    margin: auto;
    text-align: center;
}

.content section img {
    border-radius: 14px;
    border: 3px solid #252525;
    margin: 0px 40px 40px 40px;
    float: left;
}

.content section h2 {
    text-align: center;
    padding: 10px 0px;
}

.content section p {
    font-size: 20px;
}

.content section {
    clear: left;
    margin: 30px auto 0px auto;
}

hr {
    width: 100%;
}

.content p {
    font-size: 25px;
    text-align: center;
}

.content li {
    text-align: center;
    list-style: none;
    font-size: 30px;
    margin: 10px 0px;
    list-style-position: inside;
}

.content a {
    font-weight: bold;
}

.content a:link {
    color: black;
}

.content a:visited {
    color: black;
}

.content a:hover {
    color: #0047a5;
}

#overview {
    height: 400px;
    padding-top: 20px;
}

#overview a {
    text-decoration: underline;
}