
body{
    background-color: powderblue;
}
h1#titelOfKontakt{
    text-align: center;
    font-size: 50px;
    font-family: "AppleGothic";
}

h4#center{

    text-align: center;
    font-family: "Apple Chancery";
}

form{
    text-align: left;
}

section.formular{
    text-align: center;
    position: relative;
    padding-left: 400px;


}

fieldset{
    background-color: rgb(245, 242, 247);
    padding-right: 14px;
    width: 440px;
    font-family: "AppleGothic";
}
